@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font: inherit;
  border: 0px;
  box-sizing: border-box;
}

input:focus,
textarea {
  border: 0px;
  outline: 0px;
}

.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

body, html {
  height: 100vh;
  width: 100vw;
  color: #e1e2f6;
  font-family: "Poppins", sans-serif;
  display: grid;
  grid-template-columns: 12.5rem 1fr 24rem;
  grid-template-rows: 1fr;
  z-index: -2;
  overflow: hidden;
}

.left-part {
  padding: 2.2rem 1.2rem 0rem 0rem;
  background-color: #141627;
  z-index: -1;
}
.left-part header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
  padding: 0rem 1.2rem;
}
.left-part header img {
  font-size: 1.2rem;
}
.left-part header .hambergur-menu-icon {
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
  background-image: url("./images/icons/hambergur-menu.svg");
  background-size: 1.2rem;
  background-repeat: no-repeat;
  background-position: center;
}
.left-part nav {
  display: grid;
  grid-gap: 0.8rem;
}
.left-part nav a {
  position: relative;
  text-decoration: none;
  color: #e1e2f6;
  padding: 1rem 1rem 1rem 3.5rem;
  border-radius: 0.8rem;
  background-repeat: no-repeat;
  background-position: 1.2rem 1rem;
  background-size: 1.3rem;
}
.left-part nav a:hover {
  background-color: #3b3170;
}
.left-part nav .notification {
  padding: 0.05rem 0.5rem;
  border-radius: 50%;
  background-color: #ff0800;
  position: absolute;
  right: 0.5rem;
}
.left-part nav .dashboard {
  background-image: url("./images/icons/home.svg");
}
.left-part nav .alerts {
  background-image: url("./images/icons/alarm.png");
}
.left-part nav .studio {
  background-image: url("./images/icons/planet.png");
}
.left-part nav .reports {
  background-image: url("./images/icons/fill-chart.png");
}
.left-part nav .section {
  background-image: url("./images/icons/settings.png");
}

main, .campaign-box .desc-part {
  padding: 2.2rem 2rem;
  position: relative;
  background-color: #141627;
}
main .profile, .campaign-box .desc-part .profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .profile .create-btn, .campaign-box .desc-part .profile .create-btn {
  width: 6.2rem;
  height: 2.1rem;
  background-color: #755cdd;
  padding-left: 1.4rem;
  color: #e1e2f6;
  font-size: 0.8rem;
  border-radius: 0.4rem;
  cursor: pointer;
  background-image: url("./images/icons/plus.png");
  background-size: 1.5rem;
  background-position: 0.4rem 0.2rem;
  background-repeat: no-repeat;
}
main .profile-container, .campaign-box .desc-part .profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}
main .profile-container .bottom-arrow-icon, .campaign-box .desc-part .profile-container .bottom-arrow-icon {
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
  background-image: url("./images/icons/bottom-arrow.png");
  background-size: 1.2rem;
  background-position: center;
  background-repeat: no-repeat;
}
main .profile-container img, .campaign-box .desc-part .profile-container img {
  width: 2.8rem;
  height: 2.8rem;
}
main .profile-header h1, .campaign-box .desc-part .profile-header h1 {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 300;
  color: #636888;
}
main .profile-header h1 important, .campaign-box .desc-part .profile-header h1 important {
  font-weight: bold;
  color: #e1e2f6;
}
main::before, .campaign-box .desc-part::before {
  content: "";
  width: 1.5rem;
  height: 19rem;
  position: absolute;
  left: -28px;
  top: 28px;
  border-radius: 0.8rem;
  background: linear-gradient(purple, pink);
  filter: blur(30px);
  border-radius: 50%;
  z-index: -1;
}

.ads-training {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #1c1f37;
  max-width: min(100%, 80rem);
  margin-top: 2rem;
  border-radius: 0.6rem;
}
.ads-training .description-section {
  padding: 3rem;
}
.ads-training .description-section h1 {
  font-size: 1.7rem;
}
.ads-training .offer-title {
  margin-bottom: 2rem;
}
.ads-training .offer-title span {
  color: #636888;
}
.ads-training .additional-desc {
  color: #636888;
  margin-bottom: 2.5rem;
}
.ads-training .about-section {
  color: #636888;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}
.ads-training .wacth-now-btn {
  background-color: #6f69ef;
  color: #e1e2f6;
  width: 10.2rem;
  height: 3.5rem;
  padding-right: 1.3rem;
  border-radius: 0.7rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-image: url("./images/icons/play.png");
  background-position: right 1rem center;
  background-repeat: no-repeat;
  background-size: 1.2rem;
}
.ads-training .wacth-now-btn::before {
  content: "";
  width: 2rem;
  height: 2rem;
  filter: blur(20px);
  background-color: cyan;
  display: inline;
  position: absolute;
  top: -18px;
}
.ads-training .wacth-now-btn::after {
  content: "";
  width: 2rem;
  height: 2rem;
  filter: blur(20px);
  background-color: palevioletred;
  display: inline;
  position: absolute;
  right: 13px;
  bottom: -5px;
}
.ads-training img {
  max-width: 40%;
  height: 28rem;
  transform: scaleX(-1);
}

.campaigns {
  margin-top: 2rem;
}
.campaigns header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.campaigns header .left-side, .campaigns header .right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.campaigns header h1 {
  font-size: 1.8rem;
}
.campaigns header .comaping-notification {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  background-color: #3690c2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.campaigns header .filter-icon {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  background-image: url("./images/icons/filter.png");
  background-position: center;
  background-size: 2rem;
  background-repeat: no-repeat;
  background-color: transparent;
}
.campaigns header .plus-icon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background-image: url("./images/icons/plus.png");
  background-position: center;
  background-size: 1.6rem;
  background-repeat: no-repeat;
  background-color: #242942;
}

.campaign-box {
  margin-top: 2rem;
  padding: 2rem 3rem;
  background-color: #1c1f37;
  border-radius: 0.6rem;
}
.campaign-box header {
  margin-bottom: 1.4rem;
}
.campaign-box header h2 {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.campaign-box header h2::before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  background-color: #9ec725;
  border-radius: 50%;
  margin-top: 0.5rem;
}
.campaign-box header .right-arrow-icon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background-image: url("./images/icons/right-arrow.png");
  background-position: center;
  background-size: 1.2rem;
  background-repeat: no-repeat;
  background-color: #242942;
}
.campaign-box header .horizntal-option {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  background-image: url("./images/icons/horizental-option.png");
  background-position: center;
  background-size: 1.5rem;
  background-repeat: no-repeat;
  background-color: transparent;
}
.campaign-box main, .campaign-box .desc-part {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}
.campaign-box main::before, .campaign-box .desc-part::before {
  all: unset;
}
.campaign-box main .magnet-img, .campaign-box .desc-part .magnet-img {
  height: 100%;
  width: min(12.2rem, 40%);
}
.campaign-box .facebook-titles p {
  color: #636888;
  margin-bottom: 0.7rem;
}
.campaign-box .facebook-titles p:last-of-type {
  font-size: 0.8rem;
}
.campaign-box .facebook-titles h2 {
  color: #e1e2f6;
  font-size: 1.7rem;
  margin-bottom: 0.7rem;
}
.campaign-box .facebook-chart {
  width: 12rem;
  height: 12rem;
}
.campaign-box .facebook-figures {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 2rem;
  margin-top: 0.5rem;
}
.campaign-box .facebook-figures div {
  border-left: 1px solid #636888;
  padding-left: 1rem;
}
.campaign-box .facebook-figures div:first-of-type {
  border-left: 0;
}
.campaign-box .facebook-figures div h1 {
  font-size: 1.6rem;
  margin-bottom: 0.4rem;
  font-weight: 500;
}
.campaign-box .facebook-figures div p {
  font-size: 0.8rem;
  color: #636888;
  padding-left: 1rem;
  background-repeat: no-repeat;
  background-size: 0.8rem;
  background-position: left;
}
.campaign-box .facebook-figures .daily-budget p {
  background-image: url(./images/icons/puzzle.png);
}
.campaign-box .facebook-figures .total-spent p {
  background-image: url(./images/icons/star.png);
}
.campaign-box .facebook-figures .conversion p {
  background-image: url(./images/icons/recycle.png);
}

.scrollable-wrapper {
  height: 84vh;
  overflow-y: auto;
  overflow-x: hidden;
}

aside.right-part {
  background-color: #141627;
}

.activity {
  margin-top: 0.5rem;
}
.activity header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}
.activity header .filter-icon {
  width: 2.2rem;
  height: 2.2rem;
  cursor: pointer;
  border-radius: 0.5rem;
  background-image: url(./images/icons/activity-filter.png);
  background-position: center;
  background-size: 1.4rem;
  background-repeat: no-repeat;
  background-color: #242942;
}

.messages-container {
  margin-top: 1.3rem;
  overflow-x: hidden;
  overflow-y: auto;
  height: 84vh;
}

.message {
  background-color: #1c1f37;
  padding: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;
  border-radius: 0.7rem;
}
.message:last-of-type {
  margin-bottom: 0px;
}
.message .message-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.1rem;
}
.message .message-info img {
  width: 2.5rem;
  height: 2.5rem;
}
.message .info {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 0.2rem;
}
.message .info time {
  font-size: 0.8rem;
  color: #636888;
}
.message .info time::before {
  content: "";
  width: 0.2rem;
  height: 0.2rem;
  border-radius: 50%;
  background-color: #636888;
  margin-right: 0.2rem;
  display: inline-block;
}
.message .info .username {
  color: #e1e2f6;
  margin-bottom: 0.5rem;
}
.message .info .messsage-para {
  font-size: 0.8rem;
  color: #636888;
}
.message .open-message {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background-image: url("./images/icons/right-arrow.png");
  background-position: center;
  background-size: 1.2rem;
  background-repeat: no-repeat;
  background-color: #242942;
}/*# sourceMappingURL=style.css.map */