@use './abstract/reset' as *;
@use './abstract/colors' as *;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;700&display=swap');

body, html {
    height: 100vh;
    background-color: $app-bg;
    color: $text-color;
    font-family: 'Poppins', sans-serif;

    display: grid;
    grid-template-columns: 12.5rem repeat(2, 1fr);
    grid-template-rows: 1fr;
}

.left-part {
    padding-top: 2.2rem;
    padding: 2.2rem 1.2rem 0rem 0rem;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5rem;
        padding: 0rem 1.2rem;

        img {
            font-size: 1.2rem;
        }

        .hambergur-menu-icon {
            width: 1.2rem;
            height: 1.2rem;
            cursor: pointer;

            background: {
                image: url('./images/icons/hambergur-menu.svg');
                size: 1.2rem;
                repeat: no-repeat;
                position: center;
            }
        }
    }

    nav {
        display: grid;
        grid-gap: .8rem;

        a {
            position: relative;
            text-decoration: none;
            color: $text-color;
            padding: 1rem 1rem 1rem 3.5rem;
            border-radius: .8rem;
            background: {
                repeat: no-repeat;
                position: 1.2rem 1rem;
                size: 1.3rem;
            }

            &:hover {
                background-color: $hover-color;
            }
        }

        .notification {
            padding: .05rem .5rem;
            border-radius: 50%;
            background-color: $red-color-badge;
            position: absolute;
            right: .5rem;
        } 

        .dashboard {
            background-image: url('./images/icons/home.svg');
        }

        .alerts {
            background-image: url('./images/icons/alarm.png');
        }

        .studio {
            background-image: url('./images/icons/planet.png');
        }

        .reports {
            background-image: url('./images/icons/fill-chart.png');
        }

        .section {
            background-image: url('./images/icons/settings.png');
        }

    }
}