$app-bg: #141627;
$text-color: #e1e2f6;
$text-color-secondary: #636888;
$hover-color: #3b3170;
$red-color-badge: #ff0800;
$btn-primary: #755cdd;
$box-primary: #1c1f37;
$btn-secondary: #6f69ef;
$badge-primary: #3690c2;
$button-badge: #242942;
$badge-green: #9ec725;