$robin-egg-blue: #177A9E;
$yinmn-blue: #274D89; 
$mountbatten-pink: #9E768F;
$blue-bell: #9FA4C4;
$main-dark: #41485e;  
$white-smoke: #F5F5F5;
$light-gray: rgba(255, 255, 255, 0.3);
$pure-white: #fff;
